@import "prettyPhoto.css";

body {
    padding-top: 50px;
    background: #F3EFE0;
    font-size: 15px;
    line-height: 1.64;
}

html, body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}
/******
.container {
    max-width: 1280px;
    padding: 40px 180px;
}
*******/

.main {
    max-width: 1280px;
    padding: 40px 180px;
}

.background-white {
    background: #FFFFFF;
}

.background-gray {
    background: #434242;
}


.thumbnail{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #444;
}


.thumbnail img{
    opacity: .75;
}

.thumbnail img:hover{
    opacity: 1;
}


.gallery {
    color:#fff;
    padding: 40px 0px;
}

h2{
    font-size: 54px;
    text-align: center;
}

h2, h3{
    font-weight:300;
    color: #22a39f;
}

#contact h2, #contact .row * {
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
}

p.lead {
    text-align: center;
    color: #727878;
}

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#contact a .icon {
    float: left;
    margin-right: 20px;
}

.icon {

    height: 32px;
    width: 32px;
}


#contact a {
    display: block;
    line-height: 32px;
    margin-bottom: 20px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#hero_cont .hero_txt {
    position: absolute;
    z-index: 2;
    top: 20%;
    right: 2%;
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    font-size: large;
}

#hero_cont .hero_img {
    position: relative;
}












